{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header %}Log out{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"> {# Centra la columna dentro de la fila #}
        <div class="col-12 col-md-8 col-lg-6"> {# Columna que ocupa 100% en móvil, 8/12 en tablet, 6/12 en escritorio #}
            <div class="card mt-5 p-4 shadow-sm">
                <h2 class="display-2">Has cerrado sesión.</h2>
                <p>¡Gracias por usar nuestra aplicación!</p>
                <a  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'user_account:login' %}">Iniciar Sesión de nuevo</a>
            </div>
        </div>  
    </div> 
</div>
{% endblock %}

