{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block header %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"> {# Centra la columna dentro de la fila #}
        <div class="col-12 col-md-8 col-lg-6"> {# Columna que ocupa 100% en móvil, 8/12 en tablet, 6/12 en escritorio #}
            <div class="card mt-5 p-4 shadow-sm"> {# Opcional: un estilo de tarjeta para el formulario #}
                    {% if user.is_authenticated %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
                        </form>
                    {% else %}
                        <h2>Por favor, inicia sesión para ver tu perfil.</h2>
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'user_account:login' %}">Iniciar Sesión</a>
                    {% endif %}
            </div> 
        </div> 
    </div> 
</div> 
{% endblock %}