{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}Register{% endblock %}
{% block header %}Registrar Nueva Cuenta{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-12 col-md-8 col-lg-6"> 
                <div class="card mt-5 p-4 shadow-sm"> 
                    <form method="post">
                        {% csrf_token %}
                            {# Muestra errores generales del formulario #}
                            {% if form.non_field_errors %}
                                <ul class="errorlist">
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {# Renderiza todos los campos del formulario #}
                            {{ form | crispy }}
                            {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <button class="btn btn-primary" type="submit">Create account</button>
                    </form>
                        <a class="row justify-content-center"href="{% url 'user_account:login' %}">¿Ya tienes una cuenta? Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
